extends layout

block content
  h1 Appartment Building 23
  p.lead Everything You Need To Know About Your Modern Household.
  img(src='http://eidupont.scene7.com/is/image/eidupont/Building&Construction_1100x328', alt='Flowers in Chania', width='100%', height='345')
  hr
  .row
    .col-md-6
      h2 Construction in appartment 26
      p During the day of the 26th of May between 3 and 5 pm we will have construction activities which might result in noises and vibrations. Sorry for the inconvenience.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 No water between 4PM and 6PM
      p During the day of the 26th of May between 3 and 5 pm we will have construction activities which might result in noises and vibrations. Sorry for the inconvenience some text some text some text.
      p